@import "tailwindcss";  

@layer components {
.list {
  @apply flex items-center h-full uppercase z-1 hover:text-[#deaf4f] transition-all duration-300  
}
.span {
  @apply mr-1
}
.btn {
  @apply rounded-full flex justify-center text-xl uppercase font-extrabold bg-white w-full  h-[57px] bg-linear-to-r items-center hover:drop-shadow-[0_0_8px]
}
.btn {
  @theme {
    --btn: "Oxanium", sans-serif
  }
}
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
