@import "tailwindcss";

@layer components {
.list {
  @apply flex items-center h-full uppercase z-1 hover:text-[#deaf4f] transition-all duration-300  
}
.span {
  @apply mr-1
}
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
